In [1]:
import numpy as np
import pandas as pd
from read_data import load_data
df, df_agg = load_data()

In [2]:
df

,Unnamed: 0,ID,Date,Source,Destination,Volume,Value,Revenues,Platform
0,0,0,1/1/2022,5458204279082333846,-499896596931714151,27.0,3.851957e+05,72.32,Network1
1,1,1,1/1/2022,5458204279082333846,5279677663854696991,77927.0,1.148725e+09,208733.04,Network1
2,2,2,1/1/2022,5458204279082333846,-784342624937920273,328.0,4.480151e+06,878.57,Network1
3,3,3,1/1/2022,5458204279082333846,5370456496634683769,39160.0,6.497281e+08,104892.86,Network1
4,4,4,1/1/2022,5458204279082333846,-7929591110571276644,2555.0,3.867417e+07,6843.75,Network1
...,...,...,...,...,...,...,...,...,...
62576,62576,34839,12/22/2023,1911314253347375714,-1344505900543911945,5.0,9.494500e+05,5.00,Network2
62577,62577,34840,12/22/2023,1911314253347375714,-3536922147357657635,7.0,6.031764e+05,7.00,Network2
62578,62578,34841,12/22/2023,1911314253347375714,-7922613785521626713,13.0,9.125220e+06,13.00,Network2
62579,62579,34842,12/22/2023,1911314253347375714,-4448166669477066280,29.0,2.743337e+06,29.00,Network2
62580,62580,34843,12/22/2023,1911314253347375714,-7613562832770564022,1.0,3.604000e+04,1.00,Network2

In [3]:

df_agg

,Source,Destination,Platform,total_vol,total_val,total_fees
1183,-4312125034382657644,4236239717083668998,Network1,38474265.0,1.833807e+11,1.030561e+08
5873,5458204279082333846,4236239717083668998,Network1,36399278.0,1.369811e+11,9.747485e+07
1316,-4448166669477066280,4236239717083668998,Network1,33533609.0,1.101803e+11,8.982217e+07
4993,4236239717083668998,-4312125034382657644,Network1,28523821.0,2.131134e+11,7.633573e+07
5037,4236239717083668998,5458204279082333846,Network1,22870042.0,1.344585e+11,6.125904e+07
...,...,...,...,...,...,...
5493,520128278214306640,6507827448414474445,Network2,1.0,7.477092e+04,1.000000e+00
4630,329525002259471666,5780328645265204608,Network2,1.0,6.100000e+03,1.000000e+00
538,-1952142598191508293,752480581181166200,Network2,1.0,5.000000e+03,1.000000e+00
2955,-784342624937920273,7029008074767476760,Network1,1.0,4.000000e+02,2.680000e+00
6225,6558086471840104424,-3176297685568719447,Network2,1.0,1.500000e+04,1.000000e+00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62581 entries, 0 to 62580
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   62581 non-null  int64
 1   ID           62581 non-null  int64
 2   Date         62581 non-null  object
 3   Source       62581 non-null  object
 4   Destination  62581 non-null  object
 5   Volume       62581 non-null  float64
 6   Value        62581 non-null  float64
 7   Revenues     62581 non-null  float64
 8   Platform     62581 non-null  object
dtypes: float64(3), int64(2), object(4)
memory usage: 4.3+ MB